
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

//- block header
//-   div.logo
//-   a.logo-link(href=locals.url)
//-     img(src='/logo.png', width='150px')
//-     h1
//-       a(href="/")= locals.name
//-     p.description= locals.description
//-     nav.nav
//-       a.nav__item(href='/articles/actions') Actions
//-       a.nav__item(href='/articles/documents') Documents
//-       a.nav__item(href='/articles/collectifs') Collectifs
//-       a.nav__item(href='/articles/sites-amis') Partenaires
//-       a.nav__item(href='/articles/nous-contacter') Contact

block content
  article.article
    h1= page.title
    section.content!= typogr(page.html).typogrify()

